.App, #root{
    width: 100%;
    height: 100vh;
}
body{
    margin: 0;
    padding: 0;
}

.sidebarcontainer{
    margin: 0;
    display: flex;
}
main{
    width: 100%;
    padding: 10px;
}
.sidebar{
    background-color: rgb(10, 56, 17);
    height: 100vh;
    transition: all 0.5s;
    margin: 0;
}

.top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.bars{
    display: flex;
    color: aliceblue;
    font-size: 25px;
    margin-left: 100px;
}

.link{
    display: flex;
    padding:10px 15px;
    gap:15px;
    transition: all 0.5s;
}

.link:hover{
    background: rgb(205, 182, 255);
    color: blue;
    transition: all 0.5s;
}
.active{
    background: rgb(205, 182, 255);
    color: blue;
}
